<template>
  <BaseSelect
    class="root"
    :selected-display-classes="{'account-dropdown': true}"
    :options="accountOptions"
    :selected="currentAccountSelection"
    :disabled="disabled"
    @selection="onSelection"
    placeholder="Choose Account"
  />
</template>

<script lang="ts">
import "reflect-metadata";
import { Component, Prop, Watch } from "vue-property-decorator";
import { mixins } from "vue-class-component";

import BaseSelectOption from "@/models/BaseSelectOption";
import uniqueObjArr from "@/lib/uniqueObjArr";
import { displayBankAccountBalance } from "@/lib/displayBankAccount";
import BankAccountState from "@/models/BankAccountState";
import StoreModules from "@/mixins/StoreModules";
import { BASE_SELECT_NONEXISTENT_ID } from "@/constants/baseSelect";

@Component
export default class AccountSelectionDropdown extends mixins(StoreModules) {
  @Prop() public readonly bankId!: number;
  @Prop({ default: false }) public readonly disabled!: boolean;

  public currentAccountSelection: number = BASE_SELECT_NONEXISTENT_ID;

  get accountOptions(): BaseSelectOption[] {
    return this.getValidAccountOptions();
  }

  public created() {
    this.setAccountSelection();
  }

  // Attempt to set the selection based on current account
  // if the current account isn't a possible option, give a placeholder
  // except if there is only one option, then select that one.
  public setAccountSelection() {
    const validAccounts = this.getValidAccountOptions();

    if (validAccounts.length === 1) {
      this.updateSelectedAccount(validAccounts[0].key);
      return;
    }

    const currentAccount: BankAccountState | undefined = this.bankModule
      .currentAccount;

    if (!this.bankId || !currentAccount) {
      this.updateSelectedAccount(BASE_SELECT_NONEXISTENT_ID);
      return;
    }

    const newOpt = validAccounts.find((opt: BaseSelectOption) => {
      return opt.key === currentAccount.id;
    });

    if (newOpt) {
      this.updateSelectedAccount(newOpt.key);
    } else {
      this.updateSelectedAccount(BASE_SELECT_NONEXISTENT_ID);
    }
  }

  private updateSelectedAccount(newId: number): void {
    this.currentAccountSelection = newId;
    this.$emit("account-selection", this.currentAccountSelection);
  }

  public onSelection(selection: number) {
    this.currentAccountSelection = selection;
    this.$emit("account-selection", selection);
  }

  @Watch("bankId")
  public bankChangeWatcher() {
    if (this.currentAccountSelection) {
      this.currentAccountSelection = BASE_SELECT_NONEXISTENT_ID;
    }
    this.setAccountSelection();
  }

  private getValidAccountOptions(): BaseSelectOption[] {
    const accounts: Map<number, BankAccountState> = this.bankModule.allAccounts;

    if (!accounts || accounts.size === 0) {
      return [];
    }

    const accountsArr = Array.from(accounts.values());

    const opts = accountsArr
      .filter((acc: BankAccountState) => acc.bankId === this.bankId)
      .map(
        (acc: BankAccountState): BaseSelectOption => {
          return {
            key: acc.id,
            value: displayBankAccountBalance(acc, acc.balance)
          };
        }
      );

    return uniqueObjArr<BaseSelectOption>(
      opts,
      (opt: BaseSelectOption) => opt.key
    );
  }
}
</script>


<style lang="scss" scoped>
.root ::v-deep .account-dropdown{
  min-height: 60px;
}
</style>
