<template>
  <BaseSelect
    class="root"
    :selected-display-classes="{'bank-dropdown': true}"
    :options="bankOptions"
    :selected="currentBankSelection"
    :disabled="disabled"
    @selection="onSelection"
    placeholder="Choose Bank"
  />
</template>

<script lang="ts">
import "reflect-metadata";
import { Component, Prop } from "vue-property-decorator";
import { mixins } from "vue-class-component";

import BaseSelectOption from "@/models/BaseSelectOption";

import bankLookup from "@/lib/bankLookup";
import uniqueObjArr from "@/lib/uniqueObjArr";
import BankAccountState from "@/models/BankAccountState";
import StoreModules from "@/mixins/StoreModules";
import { BASE_SELECT_NONEXISTENT_ID } from "@/constants/baseSelect";

@Component
export default class BankSelectionDropdown extends mixins(StoreModules) {
  @Prop({ default: false }) public readonly disabled!: boolean;

  public currentBankSelection: number = BASE_SELECT_NONEXISTENT_ID;

  get bankOptions(): BaseSelectOption[] {
    const accounts: Map<number, BankAccountState> = this.bankModule.allAccounts;
    if (!accounts || accounts.size === 0) {
      return [];
    }

    const accountArr = Array.from(accounts.values());
    const opts = accountArr
      .filter((acc: BankAccountState) =>
        bankLookup.has(acc.routingNumber || "")
      )
      .map((acc: BankAccountState) => {
        const bankWalletMetadata = bankLookup.get(acc.routingNumber || "");
        const bank = this.bankModule.allBanks.get(acc.bankId);

        return {
          key: bank!.id,
          value: bankWalletMetadata!.name,
          imageUri: bankWalletMetadata!.logo
        };
      });

    return uniqueObjArr<BaseSelectOption>(
      opts,
      (opt: BaseSelectOption) => opt.key
    );
  }

  public created() {
    this.setBankSelection();
  }

  public setBankSelection() {
    const currentBank = this.bankModule.currentAccount?.bankId;
    if (currentBank) {
      this.onSelection(currentBank);
    }
  }

  public onSelection(selection: number) {
    this.currentBankSelection = selection;
    this.$emit("bank-selection", selection);
  }
}
</script>


<style lang="scss" scoped>
  .root ::v-deep .bank-dropdown{
    min-height: 60px;
  }
</style>
