<template>
    <div
        class="root item"
        :class="{'selected-item': selected}"
        @mouseover="setHover(true)"
        @mouseout="setHover(false)"
    >
        <div class="item-container" @click.prevent="onItemClick">
            <img
                class="thumb"
                v-if="showImage && imageUri"
                :src="imageUri"
            />
            <div class="label-container">
                <span class="flex-grow-1">{{text}}</span>
            </div>
            <div
                v-if="showButton"
                class="view-container"
                @click.prevent="onRightButtonClick"
                :class="{'show-btn': isHovered || selected}"
            >
                <button
                    type="button"
                    class="view-btn"
                >
                    <i class="material-icons">{{buttonIcon}}</i>
                </button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component
export default class ClickableHighlightRow extends Vue {
  @Prop({ default: false }) public readonly selected!: boolean;
  @Prop({ default: "Item Label" }) public readonly text!: string;
  @Prop({ default: false }) public readonly showButton!: boolean;
  @Prop({ default: "visibility" }) public readonly buttonIcon!: string;
  @Prop({ default: false }) public readonly showImage!: boolean;
  @Prop({ default: "" }) public readonly imageUri!: string;

  public isHovered = false;

  public onItemClick() {
    this.$emit("click-item");
  }

  public onRightButtonClick() {
    this.$emit("click-right-button");
  }

  public setHover(isHovering: boolean) {
    this.isHovered = isHovering;
  }
}
</script>

<style lang="scss" scoped>
.root {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.item {
    background-color: transparent;
    transition: background-color .2s ease-in;
    width: 100%;
    padding: 0;

    &.selected-item {
        background-color: $highlightGreen;
    }
    &:hover {
        background-color: $highlightGreen;
    }
}

.view-container {
    padding: 1rem;
    display: flex;
    opacity: 0;
    transition: opacity .2s ease-in;
    &:hover {
        opacity: 1;
    }
    &.show-btn {
            opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
}

.item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .label-container {
        padding: 1rem;
        width: 100%;
    }
}

.view-btn {
  align-self: center;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: $darkGray;
  text-shadow: 0 1px 0 #fff;
  display: flex;
}

.thumb {
  align-self: center;
  max-height: 50px;
  max-width: 50px;
  margin-right: 8px;
  margin-left: 1rem;
}
</style>
