<template>
    <div>
        <div>
            <span class="title">
              JWT Auth Token:
            </span>
        </div>
        <div>
            <BaseInput
                type="password"
                :value="inputValue"
                @input-change="onInputChange"
                @keyup.enter="$event.target.blur()"
            />
        </div>
    </div>
</template>

<script lang="ts">
import { mixins } from "vue-class-component";
import { Component } from "vue-property-decorator";

import StoreModules from "@/mixins/StoreModules";

@Component
export default class JwtInput extends mixins(StoreModules) {
  public inputValue = "";

  public created() {
    if (this.jwt) {
      this.inputValue = this.jwt;
    }
  }

  get jwt() {
    return this.settingsModule.jwtToken;
  }

  public onInputChange(s: string) {
    this.inputValue = s;
    this.$emit("jwt-change", s);
  }
}
</script>

<style lang="scss" scoped>
.title {
    margin: 0;
    font-size: $h2Size;
}
</style>
