<template>
  <div>
    <div>
      <span
        class="title"
      >
        Member API Url:
      </span>
    </div>
    <div>
      <BaseInput
        title="Member API Url"
        type="text"
        :value="inputValue"
        @input-change="onInputChange"
        @keyup.enter="$event.target.blur()"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { mixins } from "vue-class-component";
import { Component } from "vue-property-decorator";

import StoreModules from "@/mixins/StoreModules";

@Component
export default class MemberApiUrlInput extends mixins(StoreModules) {
  public inputValue = "";

  public created() {
    if (this.memberApiUrl) {
      this.inputValue = this.memberApiUrl;
    }
  }

  get memberApiUrl() {
    return this.settingsModule.memberApiUrl;
  }

  public onInputChange(s: string) {
    this.inputValue = s;
    this.$emit("api-change", s);
  }
}
</script>

<style lang="scss" scoped>
.title {
    margin: 0;
    font-size: $h2Size;
}
</style>
