<template>
    <BaseInput
        class="root"
        :value="inputValue"
        :input-classes="{'address-input': true}"
        :placeholder="placeholder"
        :aria-label="placeholder"
        :required="required"
        :disabled="disabled"
        @input-change="onInputChange"
    >
        <template v-slot:append>
            <span 
                class="input-group-text contacts-icon"
                :class="{disabled: disabled}"
                @click.stop="openContacts"
            >
                <i class="icon-contact-form f-22" :class="{disabled: disabled}" />
            </span>
        </template>
    </BaseInput>
</template>

<script lang="ts">
import "reflect-metadata";
import { Component, Prop, Watch } from "vue-property-decorator";
import { mixins } from "vue-class-component";

import StoreModules from "@/mixins/StoreModules";
import ContactsListModal from "../buildings/ContactsListModal.vue";

@Component
export default class WalletAddressInput extends mixins(StoreModules) {
  @Prop({ default: "Enter Address" }) public readonly placeholder!: string;
  @Prop({ default: "" }) public readonly value!: string;
  @Prop({ default: true }) public readonly required!: boolean;
  @Prop({ default: false }) public readonly disabled!: boolean;

  public inputValue: string = this.value;

  public openContacts() {
    if (!this.disabled) {
      this.modalModule.openOrReplaceModal({
        modal: ContactsListModal,
        attr: {}
      });
    }
  }

  public onInputChange(s: string) {
    this.inputValue = s;
    this.$emit("address-change", this.inputValue);
  }

  @Watch("value")
  public updateValue() {
    this.inputValue = this.value;
  }
}
</script>

<style lang="scss" scoped>
    .root ::v-deep .address-input {
        min-height: 60px;
    }

    .root ::v-deep .clickable-append {
        min-width: 28px;
    }

    /* TODO: Remove !important when fighting bootstrap is no longer necessary #167031637 */
    .contacts-icon {
        border: 1px $mediumGray solid!important;
        border-top-right-radius : 2px!important;
        border-bottom-right-radius : 2px!important;
        background-color: $mediumGray!important;
        cursor: pointer;
        width: 60px;
        justify-content: center;
    }

    /* TODO: Remove !important when fighting bootstrap is no longer necessary #167031637 */
    .contacts-icon:hover {
        background-color: $activeGray!important;
        border-color: $activeGray!important;
    }

    .icon-contact-form {
        color: white;
    }
</style>
