@font-face {
    font-family: icon-font;
    src: url(~@/assets/fonts/icon-font.eot);
    src: url(~@/assets/fonts/icon-font.eot) format("embedded-opentype"), url(~@/assets/fonts/icon-font.woff2) format("woff2"), url(~@/assets/fonts/icon-font.woff?) format("woff"), url(~@/assets/fonts/icon-font.ttf?) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(~@/assets/fonts/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(~@/assets/fonts/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
         url(~@/assets/fonts/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
         url(~@/assets/fonts/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  

/* 
SEGOE UI (Not currently using)
*/
// @font-face {
//     font-family: 'Segoe UI';
//     src: url(~@/assets/fonts/base-font/segoeui.eot);
//     src: url(~@/assets/fonts/base-font/segoeui.eot) format("embedded-opentype"), url(~@/assets/fonts/base-font/segoeui.woff?) format("woff"), url(~@/assets/fonts/base-font/segoeui.ttf?) format("truetype");
//     font-weight: 400;
//     font-style: normal
// }

// @font-face {
//     font-family: 'Segoe UI';
//     src: url(~@/assets/fonts/base-font/segoeuil.eot);
//     src: url(~@/assets/fonts/base-font/segoeuil.eot) format("embedded-opentype"), url(~@/assets/fonts/base-font/segoeuil.woff?) format("woff"), url(~@/assets/fonts/base-font/segoeuil.ttf?) format("truetype");
//     font-weight: lighter;
//     font-style: normal
// }

// @font-face {
//     font-family: 'Segoe UI';
//     src: url(~@/assets/fonts/base-font/segoeuib.eot);
//     src: url(~@/assets/fonts/base-font/segoeuib.eot) format("embedded-opentype"), url(~@/assets/fonts/base-font/segoeuib.ttf?) format("truetype");
//     font-weight: bold;
//     font-style: normal
// }

// @font-face {
//     font-family: 'Segoe UI';
//     src: url(~@/assets/fonts/base-font/segoeuii.eot);
//     src: url(~@/assets/fonts/base-font/segoeuii.eot) format("embedded-opentype"), url(~@/assets/fonts/base-font/segoeuii.woff?) format("woff"), url(~@/assets/fonts/base-font/segoeuii.ttf?) format("truetype");
//     font-weight: 400;
//     font-style: italic
// }

// @font-face {
//     font-family: 'Segoe UI';
//     src: url(~@/assets/fonts/base-font/segoeuiz.eot);
//     src: url(~@/assets/fonts/base-font/segoeuiz.eot) format("embedded-opentype"), url(~@/assets/fonts/base-font/segoeuiz.woff?) format("woff"), url(~@/assets/fonts/base-font/segoeuiz.ttf?) format("truetype");
//     font-weight: bold;
//     font-style: italic
// }
