/**
icon-font Webfont
*/
//@base-url: fontURL; //icon-font

//@base-url path is provided from variable.less file.

@font-face {
  font-family: 'icon-font';
  src: url('#{$font-icon-url}/icon-font.eot');
  src: url('#{$font-icon-url}/icon-font.eot') format('embedded-opentype'),
  url('#{$font-icon-url}/icon-font.woff2') format('woff2'),
  url('#{$font-icon-url}/icon-font.woff?') format('woff'),
  url('#{$font-icon-url}/icon-font.ttf?') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.icon,
%icon,
*[class^='icon-']{
  font-family: 'icon-font';
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  font-size: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == add {
    $char: "\E001";
  }
  @if $filename == back {
    $char: "\E002";
  }
  @if $filename == check {
    $char: "\E003";
  }
  @if $filename == chevron-down {
    $char: "\E004";
  }
  @if $filename == chevron-left {
    $char: "\E005";
  }
  @if $filename == chevron-right {
    $char: "\E006";
  }
  @if $filename == chevron-up {
    $char: "\E007";
  }
  @if $filename == close {
    $char: "\E008";
  }
  @if $filename == contact-form {
    $char: "\E009";
  }
  @if $filename == copy {
    $char: "\E00A";
  }
  @if $filename == transparent_logo {
    $char: "\E00B";
  }
  @if $filename == dollarcoin-small-black {
    $char: "\E00C";
  }
  @if $filename == dollarcoin-symbol-big-balance {
    $char: "\E00D";
  }
  @if $filename == dollarcoin_small_green {
    $char: "\E00E";
  }
  @if $filename == dollarcoin_symbol_light {
    $char: "\E00F";
  }
  @if $filename == eye {
    $char: "\F06E";
  }
  @if $filename == export {
    $char: "\E010";
  }
  @if $filename == lock {
    $char: "\E011";
  }
  @if $filename == minus {
    $char: "\E012";
  }
  @if $filename == question {
    $char: "\E013";
  }
  @if $filename == refresh {
    $char: "\E014";
  }
  @if $filename == search {
    $char: "\E015";
  }
  @if $filename == transactions {
    $char: "\E016";
  }
  @if $filename == user {
    $char: "\E017";
  }
  @if $filename == v-add {
    $char: "\E018";
  }
  @if $filename == v-deduct {
    $char: "\E019";
  }
  @if $filename == waiting {
    $char: "\E01A";
  }

  @return $char;
}

@mixin icon($filename) {
  content: icon-char($filename);
}





.icon-add{
  &:before {
    @include icon(add);
  }
}



@mixin icon-add {
  @extend %icon;
  @include icon(add);
}

.icon-back{
  &:before {
    @include icon(back);
  }
}



@mixin icon-back {
  @extend %icon;
  @include icon(back);
}

.icon-check{
  &:before {
    @include icon(check);
  }
}



@mixin icon-check {
  @extend %icon;
  @include icon(check);
}

.icon-chevron-down{
  &:before {
    @include icon(chevron-down);
  }
}



@mixin icon-chevron-down {
  @extend %icon;
  @include icon(chevron-down);
}

.icon-chevron-left{
  &:before {
    @include icon(chevron-left);
  }
}



@mixin icon-chevron-left {
  @extend %icon;
  @include icon(chevron-left);
}

.icon-chevron-right{
  &:before {
    @include icon(chevron-right);
  }
}



@mixin icon-chevron-right {
  @extend %icon;
  @include icon(chevron-right);
}

.icon-chevron-up{
  &:before {
    @include icon(chevron-up);
  }
}



@mixin icon-chevron-up {
  @extend %icon;
  @include icon(chevron-up);
}

.icon-close{
  &:before {
    @include icon(close);
  }
}



@mixin icon-close {
  @extend %icon;
  @include icon(close);
}

.icon-contact-form{
  &:before {
    @include icon(contact-form);
  }
}



@mixin icon-contact-form {
  @extend %icon;
  @include icon(contact-form);
}

.icon-copy{
  &:before {
    @include icon(copy);
  }
}



@mixin icon-copy {
  @extend %icon;
  @include icon(copy);
}

.icon-dollarcoin-icon{
  &:before {
    @include icon(transparent_logo);
  }
}



@mixin icon-dollarcoin-icon {
  @extend %icon;
  @include icon(transparent_logo);
}

.icon-dollarcoin-small-black{
  &:before {
    @include icon(dollarcoin-small-black);
  }
}



@mixin icon-dollarcoin-small-black {
  @extend %icon;
  @include icon(dollarcoin-small-black);
}

.icon-dollarcoin-symbol-big-balance{
  &:before {
    @include icon(dollarcoin-symbol-big-balance);
  }
}



@mixin icon-dollarcoin-symbol-big-balance {
  @extend %icon;
  @include icon(dollarcoin-symbol-big-balance);
}

.icon-dollarcoin_small_green{
  &:before {
    @include icon(dollarcoin_small_green);
  }
}



@mixin icon-dollarcoin_small_green {
  @extend %icon;
  @include icon(dollarcoin_small_green);
}

.icon-dollarcoin_symbol_light{
  &:before {
    @include icon(dollarcoin_symbol_light);
  }
}



@mixin icon-dollarcoin_symbol_light {
  @extend %icon;
  @include icon(dollarcoin_symbol_light);
}

.icon-eye{
  &:before {
    @include icon(eye);
  }
}



@mixin icon-eye {
  @extend %icon;
  @include icon(eye);
}

.icon-export{
  &:before {
    @include icon(export);
  }
}



@mixin icon-export {
  @extend %icon;
  @include icon(export);
}

.icon-lock{
  &:before {
    @include icon(lock);
  }
}



@mixin icon-lock {
  @extend %icon;
  @include icon(lock);
}

.icon-minus{
  &:before {
    @include icon(minus);
  }
}



@mixin icon-minus {
  @extend %icon;
  @include icon(minus);
}

.icon-question{
  &:before {
    @include icon(question);
  }
}



@mixin icon-question {
  @extend %icon;
  @include icon(question);
}

.icon-refresh{
  &:before {
    @include icon(refresh);
  }
}



@mixin icon-refresh {
  @extend %icon;
  @include icon(refresh);
}

.icon-search{
  &:before {
    @include icon(search);
  }
}



@mixin icon-search {
  @extend %icon;
  @include icon(search);
}

.icon-transactions{
  &:before {
    @include icon(transactions);
  }
}



@mixin icon-transactions {
  @extend %icon;
  @include icon(transactions);
}

.icon-user{
  &:before {
    @include icon(user);
  }
}



@mixin icon-user {
  @extend %icon;
  @include icon(user);
}

.icon-v-add{
  &:before {
    @include icon(v-add);
  }
}



@mixin icon-v-add {
  @extend %icon;
  @include icon(v-add);
}

.icon-v-deduct{
  &:before {
    @include icon(v-deduct);
  }
}



@mixin icon-v-deduct {
  @extend %icon;
  @include icon(v-deduct);
}

.icon-waiting{
  &:before {
    @include icon(waiting);
  }
}



@mixin icon-waiting {
  @extend %icon;
  @include icon(waiting);
}
