<template>
  <BaseModal @close="close">
    <template v-slot:header>
      <div class="header">
        <i class="icon-user f-72"></i>
      </div>
    </template>
    <template v-slot:content>
      <div class="content">
        <WalletAddressDisplay titleSize="large" class="address" :class="{separate: true}" />
        <MemberApiUrlInput @api-change="onApiChange" class="member-api-url-input" :class="{separate: true}"/>
        <JwtInput @jwt-change="onJwtChange" class="jwt-input" :class="{separate: accountsCount > 0}"/>
        <BankAccountList @select-item="onAccountSelection" v-if="accountsCount > 0" />
      </div>
    </template>
    <template v-slot:footer>
      <div class="account-info-footer">
        <button
          @click.prevent="saveChanges"
          role="button"
          class="btn btn-send btn-change-account"
        >
          {{changeDetected ? 'Save' : 'Done'}}
        </button>
      </div>
    </template>
  </BaseModal>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { mixins } from "vue-class-component";

import CopyToClipboard from "@/mixins/CopyToClipboard";
import StoreModules from "@/mixins/StoreModules";

import MemberApiUrlInput from "@/components/bricks/MemberAPIUrlInput.vue";
import JwtInput from "@/components/bricks/JwtInput.vue";
import WalletAddressDisplay from "@/components/bricks/WalletAddressDisplay.vue";
import BankAccountList from "@/components/buildings/BankAccountList.vue";
import BankAccountState from "@/models/BankAccountState";

@Component({
  components: {
    MemberApiUrlInput,
    JwtInput,
    WalletAddressDisplay,
    BankAccountList
  }
})
export default class AccountInformationModal extends mixins(
  CopyToClipboard,
  StoreModules
) {
  public selectedAccount: BankAccountState | null = null;
  public apiUrl: string = "";
  public jwtToken: string = "";

  public created() {
    if (this.memberApiUrl) {
      this.apiUrl = this.memberApiUrl;
    }
    if (this.currentJwt) {
      this.jwtToken = this.currentJwt;
    }
  }

  get memberApiUrl() {
    return this.settingsModule.memberApiUrl;
  }

  get currentJwt() {
    return this.settingsModule.jwtToken;
  }

  get userDetails() {
    return this.userModule.userDetails;
  }

  get walletAddress() {
    return this.userModule.userDetails.address;
  }

  get currentAccount() {
    return this.bankModule.currentAccount;
  }

  get accountsCount() {
    return this.bankModule.allAccounts.size;
  }

  get isSelectedAccountCurrentAccount() {
    if (!this.selectedAccount || !this.currentAccount) {
      return false;
    }
    return this.selectedAccount.id === this.currentAccount.id;
  }

  get changeDetected() {
    return (
      (this.selectedAccount && !this.isSelectedAccountCurrentAccount) ||
      (this.currentJwt && this.currentJwt !== this.jwtToken) ||
      (!this.currentJwt && this.jwtToken) ||
      (this.apiUrl && this.apiUrl !== this.memberApiUrl)
    );
  }

  public close() {
    this.$emit("close");
  }

  public async saveChanges() {
    let settingsRefresh = false;
    if (this.selectedAccount && this.selectedAccount.id) {
      this.bankModule.setCurrentAccount({
        id: this.selectedAccount.id,
        walletAddr: this.walletAddress
      });
    }
    if (this.apiUrl && this.apiUrl !== this.memberApiUrl) {
      await this.settingsModule.setMemberApiUrl(this.apiUrl);
      settingsRefresh = true;
    }
    if (this.currentJwt !== this.jwtToken) {
      await this.settingsModule.setJwtToken(this.jwtToken);
      settingsRefresh = true;
    }
    if (settingsRefresh) {
      await this.settingsModule.settingsChangeRefresh(this.$txToast);
    }
    this.modalModule.closeModal();
  }

  public onAccountSelection(newAcc: BankAccountState | null) {
    this.selectedAccount = newAcc;
  }

  public onApiChange(newUrl: string) {
    this.apiUrl = newUrl;
  }

  public onJwtChange(newJwt: string) {
    this.jwtToken = newJwt;
  }
}
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  width: 100%;
}

.address {
  padding: 1rem;
}

.member-api-url-input {
  padding: 1rem;
}

.jwt-input {
  padding: 1rem;
}

.separate {
  border-bottom: 1px solid $separationborderColor;
}

.account-info-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}
</style>
