<template>
    <div class="root">
        <h2 class="title">Bank / Accounts</h2>
        <div class="bank-list">
            <ClickableHighlightRow
                v-for="account in accounts"
                :key="account.id"
                :text="accountLabel(account)"
                :selected="selectedAccount && selectedAccount.id === account.id"
                @click-item="onAccountSelection(account)"
                showImage
                :imageUri="accountImage(account)"
            />
        </div>
    </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { mixins } from "vue-class-component";

import ClickableHighlightRow from "@/components/bricks/ClickableHighlightRow.vue";
import BankAccountState from "@/models/BankAccountState";
import StoreModules from "@/mixins/StoreModules";
import { displayBankAccountStateBalance } from "@/lib/displayBankAccount";
import bankLookup from "@/lib/bankLookup";

@Component({
  components: {
    ClickableHighlightRow
  }
})
export default class BankAccountList extends mixins(StoreModules) {
  public selectedAccount: BankAccountState | null = null;

  get accounts(): BankAccountState[] {
    const accounts = Array.from(this.bankModule.allAccounts.values());
    return accounts.sort((a: BankAccountState, b: BankAccountState) =>
      (a.routingNumber || "0").localeCompare(b.routingNumber || "0")
    );
  }

  get accountLabel() {
    return (acc: BankAccountState) => displayBankAccountStateBalance(acc);
  }

  public created() {
    const currentAccount = this.bankModule.currentAccount;
    if (currentAccount) {
      this.selectedAccount = currentAccount;
    }
  }

  public accountImage(acc: BankAccountState) {
    const bankInfo = bankLookup.get(acc.routingNumber || "");
    if (bankInfo) {
      return bankInfo.logo;
    }
    return "";
  }

  public onAccountSelection(acc: BankAccountState) {
    if (this.selectedAccount && acc.id === this.selectedAccount.id) {
      this.selectedAccount = null;
      this.$emit("select-item", null);
      return;
    }
    this.selectedAccount = acc;
    this.$emit("select-item", acc);
  }
}
</script>

<style lang="scss" scoped>
.root {
    box-sizing: border-box;
    width: 100%;
}

.title {
    margin: 0;
    padding: 1rem;
}

.bank-list {
    max-height: 152px;
    overflow: auto;
}
</style>
