<template>
  <BaseModal title="Edit Contact" @close="close" @back="back" backEnabled>
    <template v-slot:content>
      <div class="content">
        <form>
          <div class="form-group">
            <label for="contactName">Contact Name</label>
            <input
              id="contactName"
              v-model="edit.contactName"
              type="text"
              v-on:change="resetContactMessage()"
              placeholder="Enter Contact Name"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="company">Company Name *</label>
            <input
              id="company"
              v-model="edit.company"
              type="text"
              v-on:change="resetContactMessage()"
              placeholder="Enter Company Name"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="address">Address *</label>
            <input
              id="address"
              v-model="edit.address"
              type="text"
              v-on:change="resetContactMessage()"
              placeholder="Paste Wallet Address"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <small class="form-text text-warning">&nbsp; {{editContactMessage}}</small>
          </div>
        </form>
      </div>
    </template>
    <template v-slot:footer>
      <div class="edit-footer">
        <div class="col-8 pl-0">
          <button
            type="button"
            class="btn btn-link-warning"
            v-on:click.prevent="deleteContact()"
          >Delete</button>
        </div>
        <div class="col-16 pr-0">
          <button
            type="button"
            class="btn btn-contacts-save-modal btn-contacts-save-modal-med"
            v-on:click.prevent="editContact(edit.contactName, edit.company, edit.address)"
          >Save</button>
        </div>
      </div>
    </template>
  </BaseModal>
</template>

<script lang="ts">
import { mixins } from "vue-class-component";
import { Prop, Component } from "vue-property-decorator";

import displayMessages from "@/constants/displayMessages";
import appSettings from "@/constants/appSettings";
import Contact from "@/models/Contact";
import ContactDetailModal from "@/components/buildings/ContactDetailModal.vue";
import ContactsListModal from "@/components/buildings/ContactsListModal.vue";
import ContactsModalUtils from "@/mixins/ContactsModalUtils";

const emptyContact = {
  contactName: undefined,
  company: "",
  address: ""
};

@Component
export default class ContactEditModal extends mixins(ContactsModalUtils) {
  @Prop({
    default: { ...emptyContact }
  })
  public readonly contact!: Contact;
  public editContactMessage = displayMessages.BLANK_SPACE_MSG;
  public edit: Contact = { ...emptyContact };

  public created() {
    this.edit = { ...this.contact };
  }

  public back() {
    this.modalModule.openOrReplaceModal({
      modal: ContactDetailModal,
      attr: { contact: this.contact }
    });
  }

  public resetContactMessage() {
    this.editContactMessage = displayMessages.BLANK_SPACE_MSG;
  }

  public async editContact(
    contactName?: string,
    company?: string,
    address?: string
  ) {
    try {
      this.resetContactMessage();
      if (
        contactName !== this.contact.contactName ||
        address !== this.contact.address ||
        company !== this.contact.company
      ) {
        if (address !== this.contact.address) {
          if (address && address.length < appSettings.VALID_ADDRESS_LENGTH) {
            throw displayMessages.INVALID_ADDRESS;
          }
          const oldAddress = this.contact.address;
          await this.contactsModule.deleteContact({
            address: oldAddress,
            logger: this.$remoteLogger
          });
        }
        const updatedContact = this.validateAndPrepareContactData(
          contactName,
          company,
          address
        );
        await this.contactsModule.upsertContact({
          contact: updatedContact,
          logger: this.$remoteLogger
        });
        this.$sweetAlert(
          "success",
          displayMessages.CONTACT_UPDATE_SUCCESSFUL,
          displayMessages.CONTACT_UPDATE_SUCCESSFUL_TIMEOUT
        );
        await this.sleep(1200);
        this.modalModule.openOrReplaceModal({
          modal: ContactDetailModal,
          attr: { contact: this.edit }
        });
      } else {
        this.editContactMessage = displayMessages.CONTACT_UPDATE_NOT_NECESSARY;
      }
    } catch (err) {
      this.editContactMessage = err;
    }
  }

  public async deleteContact() {
    try {
      if (this.edit.address) {
        this.contactsModule.deleteContact({
          address: this.edit.address,
          logger: this.$remoteLogger
        });
        this.$sweetAlert(
          "success",
          displayMessages.CONTACT_DELETE_SUCCESSFUL,
          displayMessages.CONTACT_DELETE_SUCCESSFUL_TIMEOUT
        );
      }
      this.edit = { ...emptyContact };
      await this.sleep(1200);
      this.modalModule.openOrReplaceModal({
        modal: ContactsListModal,
        attr: {}
      });
    } catch (err) {
      this.editContactMessage = err;
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  padding: 1rem;
  width: 100%;
}

.edit-footer {
  display: flex;
  align-items: center;
}
</style>
