<template>
  <BaseModal title="Add New Contact" @close="close" @back="back" backEnabled>
    <template v-slot:content>
      <div class="content">
        <form name="standardAddContacts">
          <div class="form-group">
            <label for="contactName">Contact Name</label>
            <input
              id="contactName"
              v-model="contact.contactName"
              type="text"
              v-on:change="resetContactMessage()"
              placeholder="Enter Contact Name"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="company">Company Name *</label>
            <input
              id="company"
              v-model="contact.company"
              type="text"
              v-on:change="resetContactMessage()"
              placeholder="Enter Company Name"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="address">Address *</label>
            <input
              id="address"
              v-model="contact.address"
              type="text"
              v-on:change="resetContactMessage()"
              placeholder="Paste Wallet Address"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <small class="form-text text-warning">&nbsp; {{addContactMessage}}</small>
          </div>
        </form>
      </div>
    </template>
    <template v-slot:footer>
      <div class="footer-content">
        <div class="col-8">
          <button type="button" @click="back" class="btn btn-block btn-link-warning">Cancel</button>
        </div>
        <div class="col-16">
          <button
            type="button"
            class="btn btn-block btn-success btn-send btn-contacts-save-modal-med f-18"
            v-on:click.prevent="addContact()"
          >Save</button>
        </div>
      </div>
    </template>
  </BaseModal>
</template>

<script lang="ts">
import Component, { mixins } from "vue-class-component";

import displayMessages from "@/constants/displayMessages";
import Contact from "@/models/Contact";
import ContactsListModal from "@/components/buildings/ContactsListModal.vue";
import ContactsModalUtils from "@/mixins/ContactsModalUtils";

@Component
export default class ContactAddModal extends mixins(ContactsModalUtils) {
  public addContactMessage = displayMessages.BLANK_SPACE_MSG;
  public contact: Contact = {
    contactName: undefined,
    company: "",
    address: ""
  };

  public back() {
    this.modalModule.openOrReplaceModal({ modal: ContactsListModal, attr: {} });
  }

  public resetContactMessage() {
    this.addContactMessage = displayMessages.BLANK_SPACE_MSG;
  }

  public async addContact() {
    this.resetContactMessage();
    try {
      if (
        this.contact.address &&
        this.contactsModule.contacts[this.contact.address] !== undefined
      ) {
        throw displayMessages.CONTACT_EXIST;
      }
      const data = this.validateAndPrepareContactData(
        this.contact.contactName,
        this.contact.company,
        this.contact.address
      );
      await this.contactsModule.upsertContact({
        contact: data,
        logger: this.$remoteLogger
      });
      this.$sweetAlert(
        "success",
        displayMessages.CONTACT_ADDITION_SUCCESSFUL,
        displayMessages.CONTACT_ADDITION_SUCCESSFUL_TIMEOUT
      );
      await this.sleep(1200);
      this.back();
    } catch (err) {
      this.addContactMessage = err;
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  width: 100%;
  padding: 1rem;
}

.footer-content {
  flex: 1;
  display: flex;
  align-items: center;
}
</style>
