<template>
  <BaseModal @close="close">
    <template v-slot:header>
      <h5
        v-if="viewBalanceInMinorUnit == 0"
        id="transferModalCenterTitle"
        class="modal-title f-20 mt--2"
      >
        Transfer Funds To Wallet
      </h5>
      <h5 v-else id="transferModalCenterTitle" class="modal-title f-20 mt--2">
        Transfer Funds
      </h5>
    </template>

    <template v-slot:content>
      <form
        class="content"
        name="transferForm"
        v-on:submit.prevent="runTransaction()"
        novalidate
      >
        <div class="form-group">
          <div v-show="viewBalanceInMinorUnit > 0">
            <label for="transferToWallet">
              <input
                id="transferToWallet"
                type="radio"
                class="form-control"
                :value="'wallet'"
                name="transferRadios"
                v-model="transferDirection"
                :disabled="bankBalanceAmountInMinorUnit === 0 || isTxRunning"
                v-show="viewBalanceInMinorUnit > 0"
                autofocus
                required
              />
              <span>To Wallet</span>
              <span
                class="text-secondary"
                v-if="
                  bankBalanceAmountInMinorUnit >= 0 &&
                    currentSelectedAccount !== nonexistentId
                "
              >
                (Bank Bal:
                <span class="ml-1">{{ bankCurrencyDisplay }}</span
                >)
              </span>
            </label>
            <span>{{ transactionSelectionStatus }}</span>
            <!-- cannot use v-if below in transferToBank as it resets the value of the radio buttons-->
            <label for="transferToBank" v-show="viewBalanceInMinorUnit > 0">
              <input
                id="transferToBank"
                type="radio"
                class="form-control"
                :value="'bank'"
                name="transferRadios"
                v-model="transferDirection"
                :disabled="viewBalanceInMinorUnit === 0 || isTxRunning"
                autofocus
                required
              />
              <span>To Bank</span>
              <span class="text-secondary">
                (Wallet Bal:
                <span class="ml-1">{{ walletCurrencyDisplay }}</span
                >)
              </span>
            </label>
          </div>
          <hr v-show="viewBalanceInMinorUnit > 0" class="separator" />
          <BankAndAccountSelector
            :disabled="isTxRunning"
            @account-selection="onAccountSelection"
            class="bank-selector"
          />
          <div>
            <label for="transferAmount">Amount to Transfer:</label>
            <CurrencyInput
              :disabled="isTxRunning"
              @amount-change="onTransferValueChanged"
              id="transferAmount"
              required
            />
            <div v-show="viewBalanceInMinorUnit === 0" class="py-2">
              <span
                class="text-secondary"
                v-if="
                  bankBalanceAmountInMinorUnit >= 0 &&
                    currentSelectedAccount !== nonexistentId
                "
              >
                (Bank Bal:
                <span class="ml-1">{{ bankCurrencyDisplay }}</span
                >)
              </span>
            </div>
            <div class="pb-0">
              <p class="f-12 text-warning" v-show="errorMsg">
                {{ errorMsg }}
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer mb-2 text-center" style="display:block">
          <div class="form-elements-justify">
            <button id="transfer-submit"
              type="submit"
              :disabled="submitButtonDisabled"
              class="btn btn-success btn btn-transfer btn-transfer-modal f-18"
            >
              Transfer Funds
            </button>
          </div>
        </div>
      </form>
    </template>
  </BaseModal>
</template>

<script lang="ts">
import { Inject } from "inversify-props";
import util from "util";
import { Component, Watch } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import Money, { Currency } from "tpfs-money";
import { OperationType, Receipt } from "xand-member-api-client";

import displayMessages from "@/constants/displayMessages";
import { loggerIndex, loggerMessage } from "@/constants/logger";
import BankAndAccountSelector from "@/components/buildings/BankAndAccountSelector.vue";
import CurrencyInput from "@/components/bricks/CurrencyInput.vue";
import {
  APIWrapperRedeem,
  IMemberApiService
} from "@/services/IMemberApiService";
import BankAccountState from "@/models/BankAccountState";
import StoreModules from "@/mixins/StoreModules";
import { SweetAlertResult } from "sweetalert2";
import BigNumber from "bignumber.js";
import { BASE_SELECT_NONEXISTENT_ID } from "@/constants/baseSelect";

@Component({
  components: {
    BankAndAccountSelector,
    CurrencyInput
  }
})
export default class TransferModal extends mixins(StoreModules) {
  @Inject("IMemberApiService")
  public api!: IMemberApiService;

  public transferDirection: string | null = "wallet";
  public transactionSelectionStatus: string | null = "";
  public errorMsg: string | null = null;
  public locale: string = "en-US";
  public currency: Currency = "USD";
  public transferAmount: Money = new Money(0, this.currency);
  public bankBalanceAmountInMinorUnit: number = 0;
  public currentSelectedAccount: number = BASE_SELECT_NONEXISTENT_ID;
  public isTxRunning: boolean = false;
  public watchEnabled: boolean = true;

  public getMemberApiService(): IMemberApiService {
    return this.api;
  }

  get nonexistentId() {
    return BASE_SELECT_NONEXISTENT_ID;
  }

  get submitButtonDisabled() {
    return (
      this.isTxRunning ||
      this.currentSelectedAccount === BASE_SELECT_NONEXISTENT_ID ||
      !this.transferDirection ||
      this.transferAmount.amountInMajorUnits.isLessThanOrEqualTo(0)
    );
  }

  get bankCurrencyDisplay() {
    return Money.displayCurrency(
      "en-us",
      "USD",
      this.bankBalanceAmountInMinorUnit
    );
  }

  get walletCurrencyDisplay() {
    return Money.displayCurrency(
      "en-us",
      "USD",
      this.userModule.userDetails.userBalanceInMinorUnit
    );
  }
  public close() {
    this.$emit("close");
  }

  public async runTransaction() {
    this.$emit("submit");
    await this.bankModule.updateCurrentAccount(this.currentSelectedAccount);
    await this.bankModule.refreshBalance(this.currentSelectedAccount);
    this.isTxRunning = true;
    this.errorMsg = "";
    try {
      await this.transactionInDirection();
      this.xandModule.getTransactionHistoryPage({
        toaster: this.$txToast
      });
      this.bankModule.refreshAllAccounts();
      if (this.transferDirection === "wallet") {
        this.$sweetAlert(
          "success",
          displayMessages.LOAD_WALLET_SUCCESS,
          displayMessages.LOAD_WALLET_SUCCESS_TIMEOUT
        );
      } else if (this.transferDirection === "bank") {
        this.$sweetAlert(
          "success",
          displayMessages.REDEEM_WALLET_SUCCESS,
          displayMessages.LOAD_WALLET_SUCCESS_TIMEOUT
        );
      }
      this.modalModule.closeModal();
    } finally {
      this.userModule.refreshUserDetails(this.$txToast);
      this.bankModule.refreshBalance(this.bankModule.currentAccountId);
      this.isTxRunning = false;
    }
  }

  public onAccountSelection(accountId: number) {
    this.currentSelectedAccount = accountId;
  }

  public onTransferValueChanged(m: Money) {
    this.transferAmount = m;
  }

  public async transactionInDirection() {
    if (this.transferDirection === "wallet") {
      return await this.creationTransaction(this.transferAmount);
    } else if (this.transferDirection === "bank") {
      return await this.redemptionTransaction(this.transferAmount);
    }
    this.transactionSelectionStatus = displayMessages.DESTINATION_MANDATORY;
    throw displayMessages.STANDARD_NETWORK_ERROR_MSG;
  }

  public async creationTransaction(createAmount: Money) {
    let accountInfo;
    let nonce: string;
    let transactionId: string;
    let response: Receipt;
    // Validate request
    const isValid = this.validateCreateRequest(createAmount);
    if (!isValid) {
      this.$remoteLogger.error(loggerMessage.INVALID_TRANSFER_REQUEST);
      throw Error;
    }
    // Make the creation request call
    try {
      accountInfo = {
        amountInMinorUnit: createAmount.amountInMinorUnits.toNumber(),
        accountId: this.currentSelectedAccount
      };
      response = await this.api.createXAND(accountInfo);
      transactionId = response.transactionId;
      nonce = response.nonce!;
    } catch (err) {
      this.handleTransferCallError(err, loggerIndex.ERR_.SER0051);
      throw err;
    }
    // Make the bank transfer
    try {
      await this.api.transferToReserve({ ...accountInfo, nonce });
    } catch (err) {
      this.handleErrorMsg(displayMessages.BANK_TRANSFER_FAILED);
      throw err;
    }
    // Poll trustee confirmation
    try {
      await this.api.pollForTxConfirmation(transactionId);
    } catch (err) {
      this.handlePollingError();
      throw err;
    }
  }

  private validateCreateRequest(createAmt: Money): boolean {
    const createAmtInMinorUnits: BigNumber = createAmt.amountInMinorUnits;
    const isValidRequest = this.validateTransfer(createAmtInMinorUnits);
    const isBalanceSufficient = this.hasSufficientBalance(
      createAmtInMinorUnits,
      this.bankBalanceAmountInMinorUnit,
      displayMessages.LOAD_EXCEEDS_FUNDS
    );
    return isValidRequest && isBalanceSufficient;
  }

  private validateRedemption(redeemAmt: Money): boolean {
    const redeemAmtInMinorUnits: BigNumber = redeemAmt.amountInMinorUnits;
    const isValidRequest = this.validateTransfer(redeemAmtInMinorUnits);
    const isBalanceSufficient = this.hasSufficientBalance(
      redeemAmtInMinorUnits,
      this.viewBalanceInMinorUnit,
      displayMessages.EXCESS_REDEEM_AMOUNT
    );
    return isValidRequest && isBalanceSufficient;
  }

  private validateTransfer(transferAmtInMinorUnits: BigNumber): boolean {
    // Container method for any other standard validation we might want want to do for all transfers
    const isValidAmt = !this.isBadTransferAmount(transferAmtInMinorUnits);
    return isValidAmt;
  }

  private isBadTransferAmount(amt: BigNumber): boolean {
    // Money class' BigNumber constructor does not check for zero values
    const isZero = amt.isZero();
    if (isZero) {
      this.handleErrorMsg(displayMessages.ZERO_AMOUNT);
      this.$remoteLogger.error(loggerMessage.ZERO_REQ_AMT);
      return true;
    }
    return false;
  }

  private hasSufficientBalance(
    transferAmtInMinorUnits: BigNumber,
    sourceAcctBalanceInMinorUnits: number,
    errorMsg: string
  ): boolean {
    // TODO: Once vuex store uses Money for balances implement Money comparison functions and use (#169046381)
    if (
      transferAmtInMinorUnits.isLessThanOrEqualTo(sourceAcctBalanceInMinorUnits)
    ) {
      return true;
    }
    this.$sweetAlert("warning", errorMsg);
    this.handleErrorMsg(displayMessages.INSUFFICIENT_BALANCE);
    return false;
  }

  public async redemptionTransaction(redemptionAmount: Money) {
    let response: Receipt;
    let transactionId: string;

    // Validate transfer
    const isValid = this.validateRedemption(redemptionAmount);
    if (!isValid) {
      this.$remoteLogger.error(loggerMessage.INVALID_TRANSFER_REQUEST);
      throw Error;
    }
    // Make the redeem call
    try {
      const request: APIWrapperRedeem = {
        accountId: this.bankModule.currentAccountId,
        amountInMinorUnit: redemptionAmount.amountInMinorUnits.toNumber()
      };
      response = await this.api.redeem(request);
      transactionId = response.transactionId;
    } catch (err) {
      this.handleTransferCallError(err, loggerIndex.ERR_.SER0050);
      throw err;
    }
    // Poll trustee confirmation
    try {
      await this.api.pollForTxConfirmation(transactionId);
    } catch (err) {
      this.handlePollingError();
      throw err;
    }
  }

  private handleErrorMsg(msg: string) {
    this.errorMsg = msg;
    return;
  }

  private handleTransferCallError(err: any, errorId: string) {
    this.errorMsg =
      err && err.status === 500
        ? displayMessages.STANDARD_500_REQUEST_FAILED_MEMBER_API_ERROR
        : (this.errorMsg = displayMessages.STANDARD_NETWORK_ERROR_MSG);
    this.$remoteLogger.error(errorId + util.inspect(err));
    return;
  }

  private handlePollingError() {
    this.$emit("polling-timeout");
    this.$remoteLogger.error(loggerMessage.UPDATE_BALANCES_FAILED);
    this.$swal
      .fire({
        type: "error",
        text: displayMessages.BALANCE_UPDATE_FAILED,
        allowOutsideClick: true,
        allowEscapeKey: true,
        allowEnterKey: true
      })
      .then((_dismiss: SweetAlertResult) => {
        if (_dismiss) {
          this.close();
        }
      });
    return;
  }

  get viewBalanceInMinorUnit() {
    return this.userModule.userDetails.userBalanceInMinorUnit;
  }

  get walletAddress() {
    return this.userModule.userDetails.address || "";
  }

  get targetOp() {
    return this.transferDirection === "wallet"
      ? OperationType.Create
      : OperationType.RedeemFulfillment;
  }

  @Watch("currentSelectedAccount")
  public setBankBalanceAmountInMinorUnit() {
    const account: BankAccountState | undefined = this.bankModule.accountById(
      this.currentSelectedAccount
    );
    this.bankBalanceAmountInMinorUnit =
      account && account.balance
        ? account.balance.amountInMinorUnits.toNumber()
        : 0;
  }

  @Watch("viewBalanceInMinorUnit")
  public balanceWatcher() {
    if (this.viewBalanceInMinorUnit === 0) {
      this.transferDirection = "wallet";
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  padding: 1.25rem;
  padding-bottom: 2px;
  width: 100%;
}

.bank-selector {
  margin-top: 16px;
  margin-bottom: 16px;
}

.modal-footer {
  border: none;
  padding: 8px 0 0 0;
}

.btn-transfer {
  margin-right: 0;
  margin-left: 0;
}

.separator {
  margin-top: 24px;
  margin-bottom: 24px;
}
</style>
