<template>
    <transition name="ease-fade" v-bind="$attrs" v-on="$listeners">
        <slot />
    </transition>
</template>

<script lang="ts">
import "reflect-metadata";
import { Vue, Component } from "vue-property-decorator";

@Component({
  inheritAttrs: false
})
export default class EaseFade extends Vue {}
</script>

<style lang="scss" scoped>
    .ease-fade-enter,
    .ease-fade-leave-to {
        opacity: 0;
    }

    .ease-fade-enter-active,
    .ease-fade-leave-active {
        transition: opacity .5s ease
    }
</style>
