<template>
    <transition name="vertical-slide" v-bind="$attrs" v-on="$listeners">
        <slot />
    </transition>
</template>

<script lang="ts">
import "reflect-metadata";
import { Vue, Component } from "vue-property-decorator";

@Component({
  inheritAttrs: false
})
export default class FadeSlideDown extends Vue {}
</script>

<style lang="scss" scoped>
    .vertical-slide-enter,
    .vertical-slide-leave-to {
        transform: translateY(-50%);
        opacity: 0;
    }

    .vertical-slide-enter-active,
    .vertical-slide-leave-active {
        transition: all .25s ease-out;
    }
</style>
