<template>
  <div class="dropdown show" :class="{disabled: isDisabled}">
    <button
      class="btn dropdown-toggle display"
      :class="{...selectedDisplayClasses, disabled: isDisabled}"
      href="#"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      :id="currentSelection.value === placeholder ? 'placeholder dropdownMenuLink' : 'dropdownMenuLink'"
      :disabled="isDisabled"
    >
      <img
        class="thumb"
        v-if="currentSelection && currentSelection.imageUri"
        :src="currentSelection.imageUri"
      />
      <span class="selection label">{{currentSelection ? currentSelection.value : placeholder}}</span>
    </button>
    <div class="dropdown-menu options-container" aria-labelledby="dropdownMenuLink">
      <a
        v-for="option in filteredOptions"
        :value="option.value"
        :key="option.key"
        @click.prevent="onSelection(option)"
        class="dropdown-item form-control "
        href="#"
      >
        <img class="thumb" v-if="option.imageUri" :src="option.imageUri" />
        <span class="label">{{option.value}}</span>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import "reflect-metadata";
import { Vue, Component, Prop, Watch } from "vue-property-decorator";

import BaseSelectOption from "@/models/BaseSelectOption";
import { BASE_SELECT_NONEXISTENT_ID } from "@/constants/baseSelect";

@Component
export default class BaseSelect extends Vue {
  @Prop({ default: BASE_SELECT_NONEXISTENT_ID })
  public readonly selected!: number;
  @Prop({ default: () => [] }) public readonly options!: BaseSelectOption[];
  @Prop({ default: "Please make a selection." })
  public readonly placeholder!: string;
  @Prop({ default: false }) public readonly disabled!: boolean;
  @Prop() public readonly selectedDisplayClasses?: { [key: string]: boolean };

  get isDisabled() {
    return this.disabled || !this.filteredOptions.length;
  }

  get filteredOptions() {
    return this.options.filter(
      (opt: BaseSelectOption) => opt.key !== this.currentSelection.key
    );
  }

  public currentSelection: BaseSelectOption = {
    value: this.placeholder,
    key: BASE_SELECT_NONEXISTENT_ID
  };

  public created() {
    this.setInitialSelection();
  }

  public onSelection(selection: BaseSelectOption) {
    if (selection.key !== this.currentSelection.key) {
      this.currentSelection = selection;
      this.$emit("selection", selection.key);
    }
  }

  public setInitialSelection() {
    const initialSelection = this.options.find((obj: BaseSelectOption) => {
      return obj.key === this.selected;
    });
    if (initialSelection) {
      this.currentSelection = initialSelection;
    }
  }

  @Watch("selected")
  public manualSelectionChangeWatcher() {
    // Sometimes a parent implementing this select will need to trigger a manual selection change
    // from an event or some other source.  When the selected prop is changed it will
    // automatically change the current selection to the selected prop
    // ( without an event emission since the parent should already be aware of the change via the prop change)
    if (!this.selected) {
      this.currentSelection = {
        key: BASE_SELECT_NONEXISTENT_ID,
        value: this.placeholder
      };
      return;
    }
    // Find the option that corresponds to the new key or set the selection to default
    const newOpt = this.options.find(
      (opt: BaseSelectOption) => opt.key === this.selected
    );
    if (newOpt) {
      this.currentSelection = newOpt;
    } else {
      this.currentSelection = {
        key: BASE_SELECT_NONEXISTENT_ID,
        value: this.placeholder
      };
    }
  }
}
</script>


<style lang="scss" scoped>
.selection {
  margin-right: 8px;
}

#placeholder {
  color: gray;
}

.display {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  position: relative;
  background-color: white;
  border: 1px lightgray solid;
  border-radius: 2px;
  color: $darkGray;
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: 400;
}

.options-container {
  width: 100%;
  margin: 2px 0 0 0;
  background-color: white;
  border-top: 1px lightgray solid;
  border-bottom: 1px lightgray solid;
  border-left: none;
  border-right: none;
  padding: 0;
  box-sizing: border-box;
}

.options-container > a {
  border-bottom: 1px lightgray solid;
  border-left: 1px lightgray solid;
  border-right: 1px lightgray solid;
  color: $darkGray;
}

.options-container > a:hover {
  background-color: $lighterGray;
}

.options-container > a:last-child {
  border-bottom: none;
}

.thumb {
  position: relative;
  max-height: 50px;
  max-width: 50px;
  margin-right: 8px;
}

.label {
  position: relative;
}

.options-container > .dropdown-item,  .dropdown > .dropdown-toggle {
  white-space: unset;
}
</style>
