<template>
  <div class="mb-3" :class="{...sizeClass, ...inputGroupClass, disabled: disabled}">
    <div v-if="hasPrepend" class="input-group-prepend" :class="leftLabelClasses">
      <slot :name="prependSlotName">
        <span v-show="leftLabel" class="input-group-text border">{{leftLabel}}</span>
      </slot>
    </div>
    <input
      class="form-control border"
      :class="inputClasses"
      :type="type"
      :placeholder="placeholder"
      :disabled="disabled"
      :readonly="readonly"
      :value="currentInput"
      :aria-label="ariaLabel"
      :required="required"
      :step="step"
      @input="onInputChange"
      @change="onBlur"
    />
    <div v-if="hasAppend" class="input-group-append" :class="rightLabelClasses">
      <slot :name="appendSlotName">
        <span v-show="rightLabel" class="input-group-text border">{{rightLabel}}</span>
      </slot>
    </div>
  </div>
</template>

<script lang="ts">
import "reflect-metadata";
import { Vue, Component, Prop, Watch } from "vue-property-decorator";

@Component
export default class BaseInput extends Vue {
  @Prop({ default: false }) public readonly disabled!: boolean;
  @Prop({ default: false }) public readonly readonly!: boolean;
  @Prop({ default: "default" }) public readonly size!:
    | "small"
    | "default"
    | "large";
  @Prop({ default: "text" }) public readonly type!:
    | "text"
    | "number"
    | "password"
    | "email";
  @Prop({ default: "Input Here" }) public readonly ariaLabel!: string;
  @Prop() public readonly leftLabel?: string;
  @Prop() public readonly leftLabelClasses?: { [key: string]: boolean };
  @Prop() public readonly rightLabel?: string;
  @Prop() public readonly rightLabelClasses?: { [key: string]: boolean };
  @Prop() public readonly inputClasses?: { [key: string]: boolean };
  @Prop({ default: false }) public readonly required!: boolean;
  @Prop({ default: "1" }) public readonly step!: string;
  @Prop({ default: "" }) public readonly placeholder!: string;
  @Prop({ default: "" }) public readonly value!: string;

  public currentInput: string = this.value;

  public onInputChange(e: InputEvent) {
    const { value } = e.target as HTMLInputElement;
    this.currentInput = value;
    this.$emit("input-change", value);
  }

  public onBlur() {
    this.$emit("input-blur");
  }

  get sizeClass() {
    return {
      "input-group-sm": this.size === "small",
      "input-group-lg": this.size === "large"
    };
  }

  get inputGroupClass() {
    return {
      "input-group": this.hasAppend || this.hasPrepend
    };
  }

  get prependSlotName() {
    return "prepend";
  }

  get hasPrepend() {
    return this.leftLabel || this.hasPrependSlot;
  }

  get hasPrependSlot() {
    return (
      !!this.$slots[this.prependSlotName] ||
      !!this.$scopedSlots[this.prependSlotName]
    );
  }

  get appendSlotName() {
    return "append";
  }

  get hasAppend() {
    return this.rightLabel || this.hasAppendSlot;
  }

  get hasAppendSlot() {
    return (
      !!this.$slots[this.appendSlotName] ||
      !!this.$scopedSlots[this.appendSlotName]
    );
  }

  @Watch("value")
  public updateValue() {
    this.currentInput = this.value;
  }
}
</script>

<style lang="scss" scoped>
/* TODO: Remove !important when fighting bootstrap is no longer necessary #167031637 */
.border {
  border: 1px lightgray solid!important;
  border-radius: 2px!important;
}
</style>
