<template>
  <div id="app">
    <!-- Google material design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
      <ModalContainer />
      <Navbar v-if="this.$route.name !== 'importKey'" />
      <router-view @newAddressStored="refreshUserInfo" />
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import util from "util";

import Navbar from "@/components/sets/Navbar.vue";
import displayMessages from "@/constants/displayMessages";
import { loggerIndex } from "@/constants/logger";
import StoreModules from "@/mixins/StoreModules";
import ModalContainer from "@/components/sets/ModalContainer.vue";

@Component({
  components: {
    Navbar,
    ModalContainer
  }
})
export default class App extends mixins(StoreModules) {
  public async created() {
    try {
      if (this.$router.currentRoute.path !== "/") {
        this.$router.replace("/");
      }
      this.refreshUserInfo();
    } catch (e) {
      this.$remoteLogger.error(e);
    }
  }

  public async refreshUserInfo() {
    try {
      await this.settingsModule.loadMemberApiUrl();
      await this.settingsModule.loadJwtToken();
      await this.userModule.refreshUserDetails(this.$txToast);
      await this.contactsModule
        .fetchContactsData(this.$remoteLogger)
        .catch(e => this.$remoteLogger.error(e));
      await this.xandModule.getTransactionHistoryPage({
        toaster: this.$txToast
      });
      await this.bankModule.refreshAllAccounts();
      await this.bankModule.refreshAllBanks();
    } catch (err) {
      this.$remoteLogger.error(loggerIndex.ERR_.SER0057 + util.inspect(err));
      if (err && err.data && err.data.error && err.data.code === 203) {
        this.$sweetAlert("error", displayMessages.KEY_NOT_REGISTERED);
      } else if (!this.currentJwt && err && err.status === 401) {
        this.$sweetAlert("error", displayMessages.NO_JWT_SET);
      } else if (err && err.status === 401) {
        if (err.data.indexOf("invalid signature") !== -1) {
          this.$sweetAlert("error", displayMessages.INVALID_JWT);
        } else {
          this.$sweetAlert("error", displayMessages.BANK_AUTH_ERROR);
        }
      } else {
        this.$sweetAlert("error", displayMessages.ERROR_APP_LAUNCH);
      }
      throw err;
    }
  }

  get currentJwt() {
    return this.settingsModule.jwtToken;
  }
}
</script>

<style lang="scss">
@import '@/assets/style/main.scss';
#app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
