<template>
  <EaseFade
    mode="out-in"
    @enter="onFadingIn"
  >
    <div
      :id="modalContainerId"
      v-if="showModal"
      class="xand-modal-backdrop"
      @mousedown="clickOut"
    >
      <FadeSlideDown
        @before-leave="beginSlideOut"
        mode="out-in"
        @leave="onSlidingOut"
        @after-leave="stopSlideOut"
      >
        <component
          v-if="fadedIn"
          :is="currentModal.modal"
          @close="closeCurrentModal"
          v-bind="{...$attrs, ...currentModal.attr}"
          v-on="$listeners"
        />
      </FadeSlideDown>
    </div>
  </EaseFade>
</template>

<script lang="ts">
import "reflect-metadata";
import { Component, Watch } from "vue-property-decorator";
import { mixins } from "vue-class-component";

import StoreModules from "@/mixins/StoreModules";
import EaseFade from "@/components/transitions/EaseFade.vue";
import FadeSlideDown from "@/components/transitions/FadeSlideDown.vue";

@Component({
  components: {
    EaseFade,
    FadeSlideDown
  },
  inheritAttrs: false
})
export default class ModalContainer extends mixins(StoreModules) {
  public fadedIn = false;
  public showModal = false;
  public isSwappingModals = false;

  get currentModal() {
    return this.modalModule.currentModal;
  }

  get modalContainerId() {
    return "xand-modal-container";
  }

  public destroyed() {
    this.modalModule.closeModal();
  }

  public clickOut(e: MouseEvent) {
    try {
      const target = e.target as HTMLElement;
      if (
        target &&
        target.id === this.modalContainerId &&
        !this.isSwappingModals
      ) {
        this.closeCurrentModal();
      }
    } catch {
      return;
    }
  }

  public closeCurrentModal() {
    this.fadedIn = false;
    this.modalModule.closeModal();
  }

  public onFadingIn() {
    this.fadedIn = true;
  }

  public beginSlideOut() {
    // If there's a new modal to show after closing the old modal due to a state change, re-fadein the container.
    if (this.currentModal) {
      this.isSwappingModals = true;
    }
  }

  public onSlidingOut() {
    if (this.isSwappingModals) {
      this.showModal = true;
      return;
    }
    this.fadedIn = false;
    this.showModal = false;
  }

  public stopSlideOut() {
    this.isSwappingModals = false;
  }

  @Watch("currentModal")
  public async onCurrentModalChange(): Promise<void> {
    if (!this.currentModal) {
      this.fadedIn = false;
      return;
    }
    this.showModal = true;
  }
}
</script>

<style lang="scss" scoped>
.xand-modal-backdrop {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1050;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
</style>
