<template>
  <div>
    <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
      <div class="container">
        <div id="navbarsExampleDefault" class="navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <div>
                <div class="media" id="account-info">
                  <div
                    href
                    class="media-left mr-3 cursor-pointer nav-link"
                    @click="openWalletManagerModal"
                  >
                    <!-- User changes wallet registration by clicking -->
                    <i class="icon-user f-42"></i>
                  </div>
                  <div class="media-body">
                    <WalletAddressDisplay orientation="horizontal" />
                    <!-- Display current bank and balance info -->
                    <div class="d-inline-flex">

                      <!-- Default bank set, any balance -->
                      <span v-if="currentAccount !== undefined" id="test-bankSet" class="balance">
                        <span id="test-bankInfoSet">
                            <img id="test-bankImageSet" class="thumb" v-if="bankAccountImage" :src="bankAccountImage" />
                            {{bankBalanceInfoFormatted}}
                        </span>
                      </span>

                      <!-- Default bank not set -->
                      <span v-if="!currentAccount || currentAccount === nonexistentAccountId" id="test-bankNotSet">
                        <span id="test-noBankNameSet">
                            Bank Balance:
                        </span>
                         &nbsp;
                        <i id="test-noBankToolTip"
                           v-bind:icon-tooltip-popup=bankToolTip
                           class="material-icons icons info-icon"
                        >info</i>
                      </span>

                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="right-nav-container">
            <ul class="navbar-nav pt-3">
              <li class="nav-item" @click.stop="openContacts">
                <button class="btn btn-contacts btn-contacts-nav f-16">
                  <i class="icon-contact-form"></i>
                  <span class="ml-1">Contacts</span>
                </button>
              </li>
            </ul>
            <ul class="navbar-nav pt-3">
              <li class="nav-item" v-on:click="refresh()">
                <button class="btn btn-refresh f-16">
                  <i class="icon-refresh"></i>
                  <span class="ml-1">Refresh</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { mixins } from "vue-class-component";

import __env from "@/env";
import displayMessages from "@/constants/displayMessages";
import bankLookup from "@/lib/bankLookup";
import { displayBankAccountBalance } from "@/lib/displayBankAccount";
import StoreModules from "@/mixins/StoreModules";
import AccountInformationModal from "@/components/buildings/AccountInformationModal.vue";
import ContactsListModal from "@/components/buildings/ContactsListModal.vue";
import WalletAddressDisplay from "@/components/bricks/WalletAddressDisplay.vue";
import { BASE_SELECT_NONEXISTENT_ID } from '@/constants/baseSelect';

@Component({
  components: {
    WalletAddressDisplay
  }
})
export default class Navbar extends mixins(StoreModules) {
  get currentAccount() {
    return this.bankModule.currentAccount;
  }

  get userDetails() {
    return this.userModule.userDetails;
  }

  get bankBalanceInfoFormatted() {
    if (!this.currentAccount) {
      return "";
    }
    return displayBankAccountBalance(
      this.currentAccount,
      this.currentAccount.balance
    );
  }

  get bankToolTip() {
    return this.bankModule.currentAccount
      ? undefined
      : displayMessages.DEFAULT_BANK_NOT_SET;
  }

  get bankAccountImage() {
    if (!this.currentAccount) {
      return "";
    }
    return bankLookup.get(this.currentAccount.routingNumber || "")!.logo;
  }

  get nonexistentAccountId() {
    return BASE_SELECT_NONEXISTENT_ID;
  }

  public openContacts() {
    this.modalModule.openOrReplaceModal({ modal: ContactsListModal, attr: {} });
  }

  public openWalletManagerModal() {
    this.modalModule.openOrReplaceModal({
      modal: AccountInformationModal,
      attr: {}
    });
  }

  public refresh(): Promise<void> {
    const currentAccountRefreshPromise = this.currentAccount
      ? () => this.bankModule.refreshBalance(this.bankModule.currentAccountId)
      : () => {
          return;
        };
    return Promise.all([
      this.userModule.refreshUserDetails(this.$txToast),
      this.xandModule.getTransactionHistoryPage({
        toaster: this.$txToast
      }),
      currentAccountRefreshPromise()
    ]).catch((e: Error) => this.$remoteLogger.error(e));
  }
}
</script>


<style lang="scss" scoped>
#account-info {
  align-items: center;
}

#address {
  margin-bottom: 3px;
}

#test-bankInfoSet, #test-bankNotSet {
  vertical-align: middle
}

.balance {
  white-space: nowrap;
}

.thumb {
  position: relative;
  max-height: 30px;
  max-width: 30px;
  margin-right: 5px;
}

[icon-tooltip-popup] {
  position: relative;
}

[icon-tooltip-popup]:before { /* Add invisible dummy element with tooltip content */
  content: attr(icon-tooltip-popup);
  position: absolute;
  display: inline-block;
  bottom: -70px;
  left: 50%;
  padding: 10px;
  width: 200px;
  white-space: normal;
  flex-wrap: wrap;
  line-height: 1.3;
  transform: scale(0);
  transform-origin: top;
  background: #f1f1f1;
  color: $darkGray;
  border-radius: 10px;
  border: thin solid $mediumGray;
  font-size: 12px;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
}

[icon-tooltip-popup]:hover:before { /* Make tooltip visible on hover */
  transform: scale(1.2);
}

.info-icon { /* Style specific text-based icon */
  color: $mediumGray;
  vertical-align: middle;
}

</style>
