<template>
  <div class="txn-history">
    <section class="dashboard-content text-center">
      <div class="container">
        <div class="mt-5 text-left">
          <div class="f-20 my-1 d-flex">
            <div>Transaction History</div>
            <div class="download-button"><DownloadButton /></div>
          </div>
          <div class="table-y-scroll">
          <table class="table table-borderless f-16">
            <thead class="thead-light">
              <tr>
                <th scope="col">To/From</th>
                <th scope="col">Date/Time</th>
                <th scope="col">Value</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
              <!--If there are txns-->
              <tr
                v-for="txn in xandModule.transactionView.enrichedTxList"
                v-bind:key="txn.transactionId"
                :id="txn.transactionId"
              >
                <td scope="row" name="tofrom">
                  <div
                    style="max-width:320px"
                    class="text-truncate expand-vertically"
                    v-if="!txn.toOrFromContact"
                  >{{txn.toOrFromAddress}}</div>
                  <div style="max-width:320px" class="text-truncate expand-vertically" v-if="txn.toOrFromContact">{{txn.toOrFromContact}}</div>
                </td>
                <td scope="row" name="datetime">
                  <div class="text-truncate expand-vertically" >{{txn.formattedDatetime}}</div>
                </td>
                <td scope="row" name="value">
                  <span v-if="txn.value !== 'N/A'">
                    <i class="icon-v-deduct f-3 mt--2 mr-1" v-if="txn.isAmountDeducted"></i>
                    <i class="icon-v-add f-12 mt--2 mr-1" v-if="!txn.isAmountDeducted"></i>
                  </span>
                  <span>{{txn.valueAsCurrency}}</span>
                </td>
                <td scope="row" name="type">
                  <span
                    class="ml-1 text-capitalize"
                    v-on:click.prevent="viewReceipt(txn)"
                    v-bind:class="{'key': !!txn.hasReceipt}"
                    v-bind:disabled="!txn.hasReceipt"
                  >{{txn.txnTypeLabel}}</span>
                </td>
              </tr>

              <!--If there are no txns-->
              <tr v-if="xandModule.transactionView.length === 0 || xandModule.transactionView.enrichedTxList == null" >
                <td scope="row">
                  <span class="text-secondary">No transactions yet.</span>
                </td>
                <td scope="row"></td>
                <td scope="row"></td>
                <td scope="row"></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { mixins } from "vue-class-component";

import displayMessages from "@/constants/displayMessages";
import StoreModules from "@/mixins/StoreModules";
import EnrichedTransaction from "@/models/EnrichedTransaction";
import DownloadButton from "@/components/bricks/DownloadButton.vue";

@Component({
  components: { DownloadButton }
})
export default class TxnHistory extends mixins(StoreModules) {
  public pageSize: number = 4;

  // lifecycle hook
  public created() {
    this.getTransactionsForPage(0);
  }

  // methods
  public nextTransaction() {
    this.getTransactionsForPage(
      this.xandModule.transactionView.currentPage + 1
    );
  }

  public previousTransaction() {
    this.getTransactionsForPage(
      this.xandModule.transactionView.currentPage - 1
    );
  }

  public async viewReceipt(txn: EnrichedTransaction) {
    if (txn.txnTypeLabel === displayMessages.txHistory.paymentReceived) {
      // Open received receipt
      this.$router.replace({
        name: `receipt`,
        params: {
          txid: txn.txnId,
          senderKey: txn.toOrFromAddress,
          amount: txn.value.toString(),
          isSent: "true"
        }
      });
    } else if (txn.txnTypeLabel === displayMessages.txHistory.paymentSent) {
      // Open sent receipt
      this.$router.replace({
        name: `receipt`,
        params: {
          txid: txn.txnId,
          receiverKey: txn.toOrFromAddress,
          amount: txn.value.toString(),
          isSent: "true"
        }
      });
    }
  }

  public async getTransactionsForPage(pageNumber: number) {
    try {
      await this.xandModule.getTransactionHistoryPage({
        pagination: {
          pageNumber,
          pageSize: this.pageSize
        },
        toaster: this.$txToast
      });
    } catch (e) {
      this.$sweetAlert("error", displayMessages.TRANSACTION_STATUS_STUCK);
    }
  }

  // computed methods
  public get prevBtnVisibility() {
    return this.xandModule.transactionView.currentPage > 0;
  }

  public get nextBtnVisibility() {
    return (
      this.xandModule.transactionView.length >
      this.pageSize * (this.xandModule.transactionView.currentPage + 1)
    );
  }
}
</script>

<style scoped>
.expand-vertically {
  line-height: 1.125rem;
}

.download-button {
  cursor: pointer;
  margin-left: 10px;
}

</style>
